<h1>Editing expediente</h1>

<!-- la fecha se mantiene invariable pero puedo modificar los demas campos-->
<%= @expediente.fecha %>


<%= render 'form' %>

<%= link_to 'Show', @expediente %> |
<%= link_to 'Back', expedientes_path %>
